.container-certificados {
    height: 90vh;
    padding-top: 5rem;
}

.container-certificados img {
    height: 350px;
    width: 350px;
    padding: 1rem;
}

.titulo-certificados {
    position: relative;
    text-align: center;
    font-size: 25px;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px #C9D6DF;
}

.certificados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;  
    padding-bottom: 1rem;
}

.certificados img {
    background-color: #1E2022;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.719);
    transition: 0.5s;
}

.certificados img:hover {
    background: #C9D6DF;
    opacity: .8;
}
