footer {
    height: 12vh;
    width: 100%;
    background: #1E2022;
    bottom: 0;
}

.copy-footer {
    color: #F0F5F9;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    padding-top: 2rem;
}

.email-footer {
    color: #F0F5F9;
    text-align: end;
    font-style: italic;
    font-size: 15px;
    padding-right: 1rem;
}