.container-projetos {
    height: auto;
    padding-top: 5rem;
}

.titulo-projetos {
    position: relative;
    text-align: center;
    font-size: 26px;
    padding: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px #C9D6DF;
}

.projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;  
    padding-bottom: 1rem;
}


.projetos img {
    height: 350px;
    width: 350px;
    padding: 1rem;
    background-color: #1E2022;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.719);
    transition: 0.5s;
}


.projetos img:hover {
    background: #C9D6DF;
    opacity: .8;
}
