@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Orbitron:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.leiaMais {
    display: none;
}

body {
    background: #F0F5F9;
    color: #1E2022;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 20px 10%;
    background: #1E2022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
/*
.logo {
    position: relative;
    font-size: 25px;
    color: #C9D6DF;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
} 

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1E2022;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
} 
*/

.navbar a {
    font-size: 18px;
    color: #C9D6DF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover, .navbar {
    color: #52616B;
}

.home {
    height: 100vh;
    background: url(../img/site-leo-semfundo1.png) no-repeat;
    background-size: 450px;
    background-position: 75%;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F0F5F9;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #52616B;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F0F5F9;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F0F5F9;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.btnLeiaMais {
    background: #1E2022;
    color: #F0F5F9;
    border: 2px solid #1E2022;
    border-radius: 4px;
}

.home-content .btn-box { 
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F0F5F9;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #1E2022;
    border: 2px solid #1E2022;
    border-radius: 8px;
    font-size: 19px;
    color: #F0F5F9;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #1E2022;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #1E2022;
}

.btn-box a:nth-child(2):hover {
    color: #F0F5F9;
}

.btn-box a:nth-child(2)::before {
    background: #1E2022;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #F0F5F9;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}


.home_redes-sociais {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home_redes-sociais::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F0F5F9;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home_redes-sociais a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #1E2022;
    border-radius: 50%;
    font-size: 20px;
    color: #1E2022;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.home_redes-sociais a:hover {
    color: #F0F5F9;
}

.home_redes-sociais a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1E2022;
    z-index: -1;
    transition: .5s;
}

.home_redes-sociais a:hover::before {
    width: 100%;
}



.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 50%;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: maniActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #F0F5F9;
    opacity: .8;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F0F5F9;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
}


/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes maniActiveHover {
    100% {
        pointer-events: auto;
    }
}

